/* Estilização para a div .politica */
.politica {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 1.6;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
  }
  
  /* Estilização para o título "POLÍTICA DE PRIVACIDADE" */
  .politica h2 {
    font-size: 28px;
    font-weight: bold;
    color: #326589;
    margin-bottom: 20px;
  }
  
  /* Estilização para os parágrafos dentro da div .politica */
  .politica p {
    margin-bottom: 10px;
  }
  
  /* Estilização para os links dentro da div .politica */
  .politica a {
    color: #326589;
    text-decoration: underline;
  }
  
  /* Estilização para os links ao passar o mouse */
  .politica a:hover {
    color: #2a7ae4;
  }
  
  /* Estilização para o texto destacado em negrito */
  .politica strong {
    font-weight: bold;
  }
  
  /* Estilização para o texto em itálico */
  .politica em {
    font-style: italic;
  }
  